@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Lora:ital@0;1&family=Murecho:wght@300;400&family=Playfair+Display+SC&display=swap");

:root {
  --small-font: 14px;
  --accent: #714222;
  --fancy-title: "Libre Caslon Text", serif;
  --caps-font: "Playfair Display SC", serif;
  --medium-font: 20px;
  --lora: "Lora", serif;
  --simple-font: "Murecho", sans-serif;
  --icon: 30px;
  --icon-small: 20px;
  --dark-brown: rgb(79, 67, 67);
  --light-brown: rgb(132, 112, 112);
  --light-brown-opacity: rgba(132, 112, 112, 0.3);
  --light-cream-opacity: rgba(236, 215, 206, 0.25);
  --light-green-opacity: rgba(40, 167, 69, 0.1);
  --light-green: rgba(40, 167, 69, 1);
}

#template-2-image-1 {
  height: 145px;
  width: 205px;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
  background-color: white;
}

#template-2-image-1-image {
  height: 145px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

#template-2-image-2 {
  height: 135px;
  width: 135px;
  background-color: white;
  position: absolute;
  top: 180px;
  left: 20px;

  overflow: hidden;
  z-index: 10;
}

#template-2-image-2-image {
  height: 135px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
#template-2-image-7 {
  height: 135px;
  width: 135px;
  position: absolute;
  bottom: 180px;
  left: 20px;
  overflow: hidden;
  background-color: white;
}
#template-2-image-7-image {
  height: 135px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

#template-2-image-8 {
  height: 145px;
  width: 205px;
  background-color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  overflow: hidden;
}
#template-2-image-8-image {
  height: 145px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

#template-2-image-3 {
  height: 300px;
  width: 200px;
  position: absolute;
  top: 60px;
  background-color: white;
  left: 200px;
  overflow: hidden;
}
#template-2-image-3-image {
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

#template-2-image-6 {
  height: 300px;
  width: 200px;
  position: absolute;
  bottom: 60px;
  left: 260px;
  overflow: hidden;
  background-color: white;
}
#template-2-image-6-image {
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
#template-2-image-4 {
  height: 240px;
  width: 200px;
  position: absolute;
  bottom: 20px;
  right: 50px;
  overflow: hidden;
  background-color: white;
  z-index: 9;
}
#template-2-image-4-image {
  height: 240px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
#template-2-image-5 {
  height: 150px;
  width: 180px;
  position: absolute;
  top: 105px;
  left: 415px;
  overflow: hidden;
  background-color: white;
  z-index: 9;
}
#template-2-image-5-image {
  height: 150px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

#template-2-image-9 {
  height: 150px;
  width: 190px;
  position: absolute;
  bottom: 20px;
  left: 340px;
  overflow: hidden;
  background-color: white;
}
#template-2-image-9-image {
  height: 150px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
#template-2-image-10 {
  height: 130px;
  width: 130px;
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
}
#template-2-image-10-image {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
#template-2-image-11 {
  height: 130px;
  width: 130px;
  position: absolute;
  top: 20px;
  right: 160px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
}
#template-2-image-11-image {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
#template-2-image-12 {
  height: 150px;
  width: 160px;
  position: absolute;
  top: 270px;
  right: 200px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
}
#template-2-image-12-image {
  height: 150px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

#moodboard-swatches-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  position: absolute;
  bottom: 40px;
  left: 145px;
  z-index: 20;
}
#aspirational-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 300px;
  right: 35px;
  z-index: 20;
  width: 150px;
}
.aspirational-text {
  cursor: pointer;
  font-family: var(--lora);
  font-size: 18px;
}
.aspirational-text-form {
  border: transparent !important;
  padding: 0rem;
  margin-bottom: 0rem !important;
}
/* .aspirational-text-form .form-group {
} */
.aspirational-text-tick {
  display: flex;
  position: relative;
}

.tick {
  position: absolute;
  right: -35px;
  top: 5px;
  font-size: 25px;
  color: white;
  padding: 2px;
  border-radius: 20px;
  background-color: var(--light-green);
}
