:root {
  --small-font: 14px;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

/*  ------------navbar------------- */
#navbar {
  border: 1px solid red;
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  padding-inline: 30px;
}
